@tailwind base;
@tailwind components;
@tailwind utilities;

.full{
  color: rgb(100,26,230);
  font-size: 40px;
}
.containers{
  height: 98vh;
  width: 100%;
  margin-left: 25px;
}
.header{

  font-size: 40px;
}
button{
  margin-top: 15px;
  margin-right: 15px;
}
.subheader{
  color: white;
  margin-top: 100px;
}
.lorem{
  width: 50%;
}
.qualified{
  font-weight: bold;
}
#image{
  overflow: hidden;
}