@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;500;600;700&display=swap");
:root {
  --lGreen: #e4f5f2;
  --green: #05c5a1;
  --purple: #6c20dd;
}
#logo {
  color: #333333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.92px;
  text-transform: uppercase;
}
.mont {
  font-family: Montserrat, sans-serif;
}

body {
  background-color: var(--lGreen);
  font-family: Raleway, Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.full {
  color: blue;
  font-size: 20px;
}
.header {
  font-size: 40px;
}
button {
  margin-top: 15px;
}
.subheader {
  color: white;
  margin-top: 100px;
}
.lorem {
  width: 50%;
}
.qualified {
  font-weight: bold;
}
